.page{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    background-color: cyan;
    justify-content: center;
    align-content: center;
}

div div{
    background-color: rgb(255, 127, 22);
    color: white;
    text-align: center;
    height: 100px;
    display: flex;
    font-size: 46px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: solid black 2px;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    background-color: #c0e1c3;
    padding: 30px;
}
.screen{
    grid-column: span 3;
    border: black 4px ;
    border-style: double;
}
div div:hover{
    cursor: pointer;
    color: black;
}
.screen:hover{
    cursor: text;
    color: blanchedalmond;
}
